<tr id=<%= "user_#{user.id}" %>>
  <td><%= link_to user.id, edit_user_path(user), :remote => true %></td>
  <td><%= user.id %></td>
  <td><%= user.rol %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.password %></td>
  <td>
    <%= link_to 'Mostrar', user, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_user_path(user), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', user, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>